<!DOCTYPE html>
<html>
  <head>
    <title>Investor Newsletter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
      body {
        /* background-color: whitesmoke; */
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.5;
        padding: 0;
        margin: 0;
      }
      .header {
        color: whitesmoke;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        height: auto;
        background-color: rgba(47,79,79,1);
        text-align: center;
      }
      .header-title {
        font-size: 24px;
        padding: 10px;
        text-align: center;
      }
      .header-subtitle {
        font-size: 16px;
        margin-top: 10px;
        text-align: left;
        padding-left: 2.5%;
      }
      .joke {
        font-style: italic;
        text-align: left;
        font-size: 14px;
        margin-top: 5px;
        padding-left: 2.5%;
      }
      .main-container {
        padding: 2%;
      }
      .time {
        background-color: darkolivegreen;
        color: whitesmoke;
        font-size: 12px;
        text-align: right;
        position: relative;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 2%;
      }
      #intro-to-headlines {
        color:darkslategrey;
        padding-bottom: 10px;
      }
      .headline-container{
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(47,79,79,1);
        border-bottom: 10px solid whitesmoke;
      }
      .headline-container a{
        color: whitesmoke;
      }
      .headline-container a:visited {
        color: darkolivegreen;
      }
      .footer {
        background-color: rgba(47,79,79,1);
        text-align: center;
        color: whitesmoke;
        padding: 10px;
        font-size: 14px;
      }
      .footer a {
        color: whitesmoke
      }
    </style>
  </head>
  <body>
    <header class="header">
      <div class="header-title"><strong>Investor Newsletter</strong></div>
      <div class="header-subtitle">Something to brighten Your day:</div>
      <div class="joke">Chuck Norris doesnt read books. He stares them down until he gets the information he wants.</div>
    </header>
    <div class="time">2020.03.08 19:22</div>
    <div class="main-container">
      <!-- Headline containers below -->
      <div id="intro-to-headlines">Here are the latest headlines:</div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1061319/hiiumaal-suletud-kalatehas-mojutab-endiselt-kohalikku-elu">Hiiumaa in a closed fish factory still affects local life</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1061242/saudi-araabia-ahvardab-maailma-naftahinnad-veel-suuremasse-langusse-viia">Saudi Arabia threatens world oil prices to decline even larger</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1061153/brussel-rahustas-itaaliat-viirusega-seotud-lisakulutuste-asjus">Brussels soothed by Italy regarding the additional costs associated with the virus</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1061123/liibanon-teatas-maksejouetusest-eurovolakirjade-tagasimaksel">Lebanon declared insolvent because of Eurobonds as repayment</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1060750/naftahinnad-kukkusid-reedel-lausa-10-protsenti">Oil prices tumbled almost 10 percent on Friday,</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1060804/louna-korea-ettevote-toodab-paevas-300-000-naomaski">South Korean company produces daily 300,000 face masks</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1060810/analuutik-intressimaarade-langetamine-praegu-ei-aita">Analyst: In the current interest rate cut will not help</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1060755/hiinast-soltuvad-eesti-ettevotted-on-tarnete-ja-logistikaga-hadas">China is dependent on supplies and logistics companies in Estonia trouble</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1060777/mootorikutuste-hind-hakkas-langema-ka-eesti-tanklates">Engine Fuel prices began to fall in petrol stations in Estonia</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1060735/proviisor-oma-apteeki-parandada-ei-saa">Pharmacist its pharmacies can not be repaired</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1060634/euroapteek-on-asunud-massiliselt-uusi-apteeke-asutama">Euro Pharmacy has taken up a lot of new pharmacies</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1060650/palm-eestis-on-valjaspool-kodu-einestada-varsti-kallim-kui-munchenis">Palm: Estonia dine outside the home will soon be more expensive than in Munich</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1060426/barnier-el-il-ja-uhendkuningriigil-on-tosiseid-erimeelsusi">Barnier: EU has and the United Kingdom have a serious disagreement</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1060573/eesti-hotellides-oobinud-valisturistide-arv-kasvas-aastaga-13-protsenti">Estonia stayed in hotels the number of foreign tourists increased by 13 percent</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1060562/tarbijahinnad-tousid-aastaga-kaks-protsenti">Consumer prices rose by two percent</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1060553/uute-soiduatode-muuk-poordus-eestis-kergelt-langusesse">New sõiduatode sales turned in a slight decrease</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1060552/aarmuslik-voitlus-rahapesuga-maksab-ida-virumaale-sadu-tookohti">Extreme fighting money laundering will cost hundreds of jobs in Ida-Viru County</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1060479/desovahendite-tootja-noudlus-on-kumme-korda-kasvanud">Disinfectant manufacturer: demand has grown tenfold</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1060463/koroonapaanika-kahjustab-lisaks-reisifirmadele-kogu-turismisektorit">Koroonapaanika detrimental not only to tour operators on the whole tourism sector</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1060439/eesti-pank-on-vajadusel-valmis-andma-imf-ile-kuni-380-miljonit-eurot-laenu">Eesti Pank is ready, if necessary, to give the IMF a loan of up to EUR 380 million</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1060416/asmann-kuni-polevkivile-pole-samavaarset-alternatiivi-ei-saa-sellest-loobuda">Asmann: up to oil shale is not an equivalent alternative, you can not give it up</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1060418/prantsusmaa-korgeim-kohus-uber-peab-kohtlema-juhte-oma-tootajatena">France's highest court: Uber leaders must treat their employees</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1060390/helme-ei-toeta-vabatahtlikult-toolt-lahkujatele-huvitise-maksmist">Helme does not support the voluntary redundancy compensation goers</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1060023/tarbijakaitse-on-saanud-koroonaviirusega-seoses-esimesed-kaebused">Consumers have become coronaviruses in connection with the first complaint</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1060006/helme-luminori-samm-elavdab-eesti-kapitaliturgu">Helme: Luminor step enlivens the Estonian capital market</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059977/iata-viirus-voib-lennufirmadele-113-miljardit-dollarit-maksma-minna">IATA: airlines, the virus may go to pay 113 billion dollars</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059988/helme-kutsub-kokku-voimalikuks-majanduskriisiks-valmistuva-komisjoni">Helme convened by the Commission in preparation for a possible economic crisis</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059973/riik-soovitab-loobuda-pohja-itaaliasse-soitmisest">State recommends to abandon the North to drive in Italy</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059981/riik-hakkab-inimesi-kraadima-ka-maismaapiiril">Country degrees as well begin of people at the land border</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059952/toomas-peterson-xfly-milleks-ja-kellele">Thomas Peterson: Xfly - what and to whom?</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059881/elering-vahendab-vaikse-vaina-ohuliini-juhtmete-hulka">Elering reduces the overhead cables, the small-strait</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059847/luminor-emiteeris-500-miljoni-euro-eest-negatiivse-intressiga-pandikirju">Luminor issued 500 million euros of negative interest rate pledge letters</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059351/keskmise-palga-ja-tallinna-korteri-ruutmeetri-hinna-suhe-pole-aastaid-eriti-muutunud">Average wage and price per square meter of apartments in Tallinn for many years the relationship has not changed very much</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059833/usa-tahtsamad-aktsiaindeksid-tousid-jouliselt-nafta-odavnes">US major stock indexes rose strongly, oil depreciated</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059610/tallinn-kehtestab-alkoholimuugi-piirangud-ka-kasiinodes">Imposes restrictions on the sale of alcohol in Tallinn casinos</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059767/riisalu-alkoholimuugi-piirangutest-need-on-vaga-liberaalsed">Riisalu restrictions on alcohol sales: they are very liberal,</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059732/riigikontroll-omavalitsustel-pole-huvi-ettevotlust-soodustada">National Audit Office: municipalities do not have the interest to promote entrepreneurship</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059729/euroopa-turud-ootavad-euroopa-keskpanga-otsust-ergutusmeetmete-kohta">The markets expect the European Central Bank's decision on incentives</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059727/magnetic-mro-hakkas-eestis-lennukidetaile-tootma">Magnetic MRO began to produce parts in aircraft</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059689/toukerattarenti-tallinnas-voib-tanavu-hakata-pakkuma-viis-ettevotet">Rent a scooter in Tallinn will be this year begin offering five companies</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059655/enefit-ja-vkg-taotlevad-uute-polevkivivarude-valjakaevamist">Enefit shale resources and seeking new VKG unearthing</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059647/finnair-kavatseb-koik-tootajad-koroonaviiruse-tottu-sundpuhkusele-saata">Finnair plans to all employees sent on forced leave due to a coronavirus</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059520/gross-uute-poodide-avamine-voib-hakata-tarbijaid-kahjustama">Gross: Opening of new stores may begin to harm consumers</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059355/muhus-ja-rapinas-apteek-ara-ei-kao">Muhus Räpinas pharmacy and not disappear</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059384/euroopa-olulisemad-borsiindeksid-kerkisid-teist-paeva-jarjest">European major stock indexes rose for a second day in a row</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059381/tootushuvitist-voivad-hakata-saama-ka-vabatahtlikult-toolt-lahkujad">Unemployment benefit may also be able to start work on a voluntary basis goers</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059375/euroala-tootus-pusis-jaanuaris-7-4-protsendil">Euro area unemployment rate remained at 7.4 percent January</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059371/usa-foderaalreserv-langetas-koroonaohu-tottu-intressimaara">The US Federal Reserve lowered interest rates due koroonaohu</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.err.ee/1059343/uuring-hotellitoad-on-reisiportaalides-broneerides-kallimad-kui-telefoni-teel">Study: hotel rooms are more expensive than the travel booking portals telephone</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6916536/eesti-jalgrattatoostuse-elustaja-kogu-aeg-on-vaike-tulekahju">Estonia bicycle industry Revitalizer: all the time is a little fire</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6917424/nafta-hinda-ahvardab-kaos-saudid-plaanivad-musta-kulla-uleujutust">The oil price threatens chaos: the Saudis are planning to flooding black gold</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6916526/eesti-noormees-lahendab-globaalset-probleemi">Estonian young man solves the problem of global</a>
      </div>
      
      <div class="headline-container">
        <a href="https://tarbija24.postimees.ee/6917316/airbaltic-tuhistab-koik-lennud-milano-ja-verona-suunal">AirBaltic will cancel all flights to Milan and Verona direction</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6917007/hiinast-tellitud-pakid-lahevad-koik-maksu-alla">China ordered all tax packages will go down</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6916865/juri-moisa-vedamisel-sundis-eesti-suurim-betoonitoostus">George was born in the manor under the leadership of the biggest concrete industry</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6916883/paljud-ettevotjad-soidavad-majanduskasvu-parituules">"Many businesses are driving economic tail wind"</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6916457/vaikuse-muuk-on-eesti-idufirmale-uliedukas-ari">Silence sales are very successful business startups Estonia</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6916858/helme-ja-pankade-suhted-solmes">Helme and banking relationships knotted</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6916518/venemaa-naitas-kartellile-traasa-nafta-hind-kukkus-jarsult">Russia showed cartel trääsa: oil prices fell sharply</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6916855/elisa-juht-eesti-elutahtsad-teenused-voivad-tookindluse-kaotada">Elisa leader: Estonia vital services could lose reliability</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6916748/koroona-nappas-marilt-raha">Corona swiped Mari gave money</a>
      </div>
      
      <div class="headline-container">
        <a href="https://leht.postimees.ee/6916828/tuleviku-eesti-keskmes-on-vesinik">Future of Estonia at the heart of the hydrogen</a>
      </div>
      
      <div class="headline-container">
        <a href="https://leht.postimees.ee/6916781/amet-korraldab-laevaliine-saarterahva-tagaselja">The Office shall coordinate shipping services for the people of the islands in absentia</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6916558/ansip-aktsiisitousu-kahju-tuleks-tegijatelt-sisse-nouda">Ansip: excise loss-makers should be recovered</a>
      </div>
      
      <div class="headline-container">
        <a href="https://tarbija24.postimees.ee/6916589/starbucksi-kliendid-said-koroonaviiruse-tottu-halva-uudise">Starbucks customers said coronavirus due to bad news</a>
      </div>
      
      <div class="headline-container">
        <a href="https://leht.postimees.ee/6914276/koenigsegg-gemera-ja-teised-mida-me-oleks-nainud-genfi-autonaitusel-kui-see-oleks-toimunud">Koenigsegg Gemera and others, which we have seen at the Geneva Motor Show, where it would have been</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6916539/tallinnas-alanud-meremess-avab-2020-aasta-hobimeresoiduhooaja">Tallinn started Meremess opens the 2020 shipping season, hobby</a>
      </div>
      
      <div class="headline-container">
        <a href="https://kultuur.postimees.ee/6916513/lennusadamas-avatakse-videoinstallatsioon-sadamatest">Seaplane video installation opens ports</a>
      </div>
      
      <div class="headline-container">
        <a href="https://tarbija24.postimees.ee/6916448/novatours-tuhistab-reisid-ohupiirkonda">Book airline canceled trips danger zone</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6916397/negatiivne-stsenaarium-koroonaviirus-voib-anda-korraliku-hoobi-eesti-majanduskasvule">Negative Scenario: coronavirus can provide a decent blow to economic growth in Estonia</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6916281/tallinki-suuromanik-pani-aktsiatesse-korraliku-varanduse-jagu-raha">Tallink's large equity owner put a decent treasure in the money section</a>
      </div>
      
      <div class="headline-container">
        <a href="https://tarbija24.postimees.ee/6916257/airbaltic-tuhistab-koroonaviiruse-tottu-veel-90-lendu">AirBaltic cancels another 90 flights because of a coronavirus</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6916184/tanavusel-meremessil-on-pohirohk-praktilistel-veesoidukitel">At this year's fair is the emphasis on practical Sea Craft</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6916194/eesti-pank-koroonaviiruse-levik-tombab-eesti-turismiteenuste-hindadele-pidurit">Bank of Estonia: Estonian coronavirus spread pulls the brake on prices of tourism services</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6916138/nafta-hind-kukub-autokutuste-hinnad-on-paigal">The price of oil falls, car fuel prices are still</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6916088/hinnad-poordusid-tousule">Prices turned upward</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6916039/venemaa-tuhistas-viiruspuhangu-tottu-tahtsa-majandusfoorumi">Russia canceled due to the outbreak of the virus of the most important economic forum</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6915351/aasta-majanduskonverents-uus-majandusmudel">In the economic conference "New Economic Model"</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6915823/hiigelreform-sikutaks-tootud-vaesusest-valja">Hiigelreform pluck unemployed people out of poverty</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6915789/lego-viirus-ei-hirmuta">Lego virus does not scare</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6915673/eesti-on-baltimaadest-investorite-lemmik">Estonia has been a favorite of investors from the Baltic countries</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6915285/pankadevahelised-kiirmaksed-votsid-idufirmalt-too">Inter-bank payments took the quick start-up work</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6915641/eesti-pank-valmis-andma-hiigelsuurt-laenu">Eesti Pank is ready to deliver a huge loan</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6915658/euroliidu-ja-brittide-kaubakonelused-umbsolmes">Euro and the British trade talks umbsõlmes</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6915632/uute-soiduatode-muuk-poordus-eestis-langusesse">New sõiduatode sales turned in recession</a>
      </div>
      
      <div class="headline-container">
        <a href="https://heureka.postimees.ee/6915602/kindlustus-lainud-aasta-toi-ligi-40-protsenti-rohkem-tormikahjusid">Insurance: last year, nearly 40 percent more storm damage</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6915473/rocca-al-mare-ja-kristiine-keskuse-ootamatu-juhivahetus">Rocca al Mare and the driver's sudden change Weather Center</a>
      </div>
      
      <div class="headline-container">
        <a href="https://majandus24.postimees.ee/6915421/helme-loi-kriisikomisjoni">Helme created the Crisis</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.baltictimes.com/ministry_of_agriculture_urges_25_food_producers_to_ensure_continuous_availability_of_basic_necessities_to_the_population/">Ministry of Agriculture urges 25 food producers to ensure continuous availability of basic necessities to the population</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.baltictimes.com/alexela__the_transition_to_cleaner_fuels_is_necessary_to_achieve_climate_neutrality_in_transportation/">Alexela: The transition to cleaner fuels is necessary to achieve climate neutrality in transportation</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.baltictimes.com/olainfarm_sets_up_subsidiary_in_russia/">Olainfarm sets up subsidiary in Russia</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.baltictimes.com/airbaltic_improves_facebook_messenger_chatbot/">airBaltic improves Facebook Messenger chatbot</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.baltictimes.com/wizz_air_temporarily_cancels_some_flights_from_vilnius_to_tel_aviv_due_to_virus/">Wizz Air temporarily cancels some flights from Vilnius to Tel Aviv due to virus</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.baltictimes.com/bill_to_allow_to_include_liquor_bottles_in_package_deposit_system/">Bill to allow to include liquor bottles in package deposit system</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.baltictimes.com/us_wants_lithuania_to_take_care_of_5g_security__assess_china_risks/">US wants Lithuania to take care of 5G security, assess China risks</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.baltictimes.com/eu_leaders_fail_to_agree_on_new_budget/">EU leaders fail to agree on new budget</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.baltictimes.com/what_sets_c-yber_apart_from_other_cybersecurity_companies_is_focus/">What sets C-YBER apart from other cybersecurity companies is focus</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.baltictimes.com/vera_aleksejeva__from_shop_girl_to_businessperson_of_the_year/">Vera Aleksejeva: from shop girl to businessperson of the year</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.baltictimes.com/baltic_farmers_occupy_square_in_brussels/">Baltic farmers occupy square in Brussels</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.baltictimes.com/telecom_executive_t_nu_gr_nberg_appointed_as_the_ceo_of_rail_baltic_estonia/">Telecom executive Tõnu Grünberg appointed as the CEO of Rail Baltic Estonia</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.baltictimes.com/acmi_service__present_and_future_of_aviation/">ACMI service: Present and future of aviation</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.baltictimes.com/digital_insurance_platform_cachet_first_to_enter_the_latvian_market/">Digital insurance platform Cachet first to enter the Latvian market</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/airbaltic-atcel-visus-lidojumus-uz-un-no-milanas-un-veronas-495298">airBaltic cancels all flights to and from Milan and Verona</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/razotnes-modernizesana-arbo-windows-investe-23-miljonus-eiro-495297">Modernization of production facilities Arbo Windows will invest 2.3 million euros</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/koronavirusa-ietekme-saruk-partikas-cenas-pasaule-495295">Coronavirus affected by declining global food prices</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/rb-rail-sacis-ieviest-planosanas-un-risku-vadibas-programmaturu-495293">RB Rail started to introduce planning and risk management software</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/igaunija-jau-vienpadsmit-saslimusie-ar-koronavirusu-covid19-495292">Estonia has eleven infected with coronavirus Covid 19</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/lielie-uznemumi-tere-ieverojami-mazak-495291">Large companies spend considerably less</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/iegadasies-latvija-pirmas-cng-atkritumu-izvesanas-automasinas-495289">Acquire Latvian first CNG waste collection trucks</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/trespass-un-puma-outlet-koncepta-veikali-ienak-latvijas-tirgu-495288">Trespass and PUMA Concept Stores outlet enters the Latvian market</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/ka-top-amoralle-apgerbs-495206">As the top? Amoralle clothes</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/merkis-klut-par-dominejoso-speletaju-baltijas-piena-tirgu-495284">Aim to become the dominant player in the Baltic dairy market</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/gribu-izdot-savu-gramatu-495282">I want to issue my book!</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/vieniem-nin-tiks-atcelts-citiem-butiski-pieaugs-495277">For some, the RET will be canceled, this will significantly increase</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/latvijas-labako-darba-deveju-top-10-495274">Latvian best employers TOP 10</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/igaunija-iebraucosos-pasazierus-parbaudis-ar-termovizoriem-495273">Estonia checks on passengers with a thermal imaging camera</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/igaunija-jau-tresais-saslimusais-ar-covid19-kurs-ari-celojis-caur-rigas-lidostu-495269">Estonia, the third with the sick Covid-19, who also traveled through Riga airport</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/lielakie-2019-gada-darijumi-baltijas-regiona-495268">Major 2019 transactions in the Baltic region</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/amber-distribution-latvia-registre-komerckilu-75-miljonu-eiro-apmera-495267">Amber Distribution Latvia recorded pledge of 7.5 million euros</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/airbaltic-samazina-reisu-skaitu-uz-milanu-495266">airBaltic will reduce the number of flights to Milan</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/colgate-videi-draudziga-zobu-pastas-tubina-nonakusi-latvija-495263">Colgate environmentally friendly toothpaste tube come Latvian</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/viruss-nomerde-pirmo-aviokompaniju-495296">Virus nomçrdç first airline</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/west-kredit-registre-komerckilu-696-miljonu-eiro-vertiba-495294">West Kredit commercial record 69.6 million euros</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/gandriz-puse-eiropas-iedzivotaju-nekraj-pensijai-495286">Almost half of Europe's population nekrâj pension</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/asv-bernardam-medofam-ir-janomirst-cietuma-495281">USA: Bernard Madoff must die in prison</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/talsu-autotransports-sanem-finansejumu-jauniem-autobusiem-495280">Talsi road receives funding for new buses</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/bankas-gatavas-diskutet-par-kazaka-ideju-norakstit-pirmskrizes-paradus-495275">Bank ready to discuss Kazâka idea to write off the debts of the pre-crisis</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/atklata-es-fondu-atbalsta-programma-uznemejiem-kapitala-piesaistei-birza-495272">Open EU funds support program for entrepreneurs raising capital stock exchange</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/kad-ari-bankomatos-bus-pieejama-bezkontakta-funkcija-495270">When the ATMs will be available contactless function?</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/bruninieks-baltas-brunas-frs-495253">Knight in white armor - FRS</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/polija-atsaka-izdot-ivanovu-baltkrievijai-495251">Poland refuses to issue Ivanov Belarus</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/laiks-zelta-manijai-495246">Time gold mania</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/swedbank-bridina-par-krapniekiem-kuri-bankas-varda-izsuta-sms-495245">Swedbank warns of fraudsters who, on behalf of the bank sends SMS</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/tiesas-par-pvn-izkrapsanu-vairak-neka-piecu-miljonu-eiro-apmera-495240">Courts of VAT fraud of more than five million euros</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/purgaile-neizsledz-jaunas-bankas-ienaksanu-latvija-495235">Purgaile does not rule out new banks to enter the Latvian</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/risku-mazinasanai-asv-federala-rezervju-sistema-samazina-bazes-procentlikmi-495232">To mitigate the risks the US Federal Reserve reduced the base interest rate</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/bailes-no-koronavirusa-sak-atainoties-ari-ekonomikas-datos-495230">Fear of coronavirus begins to appear on economic data</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/biznesa-kreditesana-problemas-un-iespejas-495231">Business Lending: challenges and opportunities</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/kadastralas-vertibas-divainibas-raisa-jautajumus-495228">Cadastral value oddities raises questions</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/video-ietaupit-katru-dienu-495172">VIDEO: Save every day</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/video-divreiz-trapa-merki-495146">VIDEO: Twice hits the mark</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/investicijas-energoefektivitate-ik-gadu-laus-ietaupit-413-miljonus-495143">Investments in energy efficiency per year will save 413 million</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/video-katrs-elements-ir-iespeja-ietaupit-495120">VIDEO: Each element is able to save</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/fokusa-energija-mobilitate-un-tiras-tehnologijas-494992">Focus energy, mobility and clean technology</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/video-kam-pieder-nakotne-gazei-vai-elektribai-494941">VIDEO: Who owns the future - gas or electricity?</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/video-igauni-bija-atraki-par-latviesiem-494895">VIDEO: Estonians were faster than Latvians</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/rosneftj-ar-verienigu-naftas-ieguves-projektu-arktika-plano-palielinat-krievijas-ikp-494889">Rosneft with an ambitious oil extraction projects in the Arctic is planning to increase Russia's GDP</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/video-eiropas-zala-plana-izaicinajumi-494885">Video: European Green Plan challenges</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/energoresursu-cenas-kritusas-lidz-rekordzemam-atzimem-494865">Energy prices dropped to a record low marks</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/klimata-parmainu-panika-parkapusi-visas-iespejamas-robezas-494860">Climate change panic violated all possible boundaries</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/fortum-apsver-latvijas-siltumapgades-biznesa-pardosanu-494799">Fortum considering Latvian heat supply business sales</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/par-gandriz-50-audzis-energijas-majrazotaju-skaits-latvija-494780">For close to 50% increased the number of Latvian energy outworkers</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/sadarbibas-formula-tris-viena-494748">Cooperation formula - "Three One"</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/elektrum-uzsak-elektromobilu-uzlades-iekartu-tirdzniecibu-494717">Elektra launches electric car charging equipment trade</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/pieaug-iedzivotaju-atbalsts-veja-energijas-iegusanai-494652">Increasing public support for wind energy production</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/2019-gada-valsts-atbalsts-atcelts-21-oik-elektrostacijai-494549">2019 State aid canceled 21 oik power plant</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/elektroenergijas-razotajs-as-residence-energy-par-labu-meridian-trade-bank-iekilajis-visu-mantu-494452">Electricity producer JSC Residence Energy Trade in favor of Meridian Bank pledged all its assets</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/tuvina-sievietes-tehnologiju-pasaulei-495290">Bringing women to the world of technology</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/piesaista-piecu-miljonu-dolaru-investicijas-495278">Attracts five million dollar investment</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/igaunu-pipedrive-noperk-latvijas-mailigen-495262">Estonian Pipedrive buys Latvian Mailigen</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/bankas-klus-aizvien-neredzamakas-495186">The Bank will become increasingly most invisible</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/igaunijas-startup-piesaistijusi-2583-miljonus-eiro-495179">Estonian startup attracted 258.3 million euros</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/revolut-piesaista-500-miljonus-asv-dolaru-495102">Revolut attracted 500 million US dollars</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/ziedojumus-pienem-bartereiro-forma-495076">Donations adopt bartereiro form</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/10-000-eiro-idejai-burbulu-ietisanas-plevi-razot-no-aitas-vilnas-495063">10,000 euros idea bubble wrap film produced from sheep's wool</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/startup-vizu-skaits-pieaug-desmitkart-495003">Startup visa number increases tenfold</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/partikas-inovaciju-hakatona-aktualize-pasaule-karstakas-temas-494972">Food innovation hakatonâ update the hottest topics in the world</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/lietuvai-jaizverte-finansu-tehnologiju-kompaniju-raditie-riski-494952">Lithuania to assess the financial risks from technology companies</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/finansu-tehnologiju-uznemumi-noluko-vjetnamu-494934">Financial technology companies with a view to Vietnam</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/cenos-piesaista-362-tukstosus-eiro-494904">CENO attracts 362 thousand euros</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/konta-atversana-pieejama-pilniba-digitalizeti-494893">Account opening access to a fully digitized</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/antiland-izveidotajs-strada-pie-jaunas-aplikacijas-494878">AntiLand creator working on new applications</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/jaunuznemumi-ir-modernas-ekonomikas-dzinejspeks-kadu-artavu-var-dot-augstskolas-494801">Jaunuzòçmumi modern economic engine. What contribution can make a university?</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/maksajumu-joma-transformacija-turpinasies-494760">Payments transformation continues</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/sonedel-jau-makskere-atlaides-495223">This week already are fishing discounts</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/vai-viruss-bus-tas-kas-nokaus-bulli-495175">Whether the virus is the one that will kill the bull?</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/miljardieru-klubins-arvien-kuplaks-495160">Billionaires club more and more off-standing</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/eiropas-valdibas-tere-dazadi-495158">European governments are spending different</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/tirgos-domine-asins-krasa-495154">Markets are dominated by the color of blood</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/kritosa-naza-kersana-un-necinisanas-ar-fedu-495150">Falling knife-catching and not fighting with "Fedu"</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/istermina-naftas-tirgu-var-but-asinspirts-495136">In the short term the oil market can be carnage</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/sandersa-uzvara-saskobitu-akcijas-495132">Sanders victory wry shares</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/akciju-tirgi-starp-bailem-un-alkatibu-495114">Stock markets between fear and greed</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/akciju-cenas-kritas-zelta-cenas-kapj-495087">Stock prices are falling, gold prices are rising</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/darba-deveju-dienaskartiba-pretsmekesanas-politika-495083">Employers agenda of anti-smoking policy</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/koronaviruss-azijai-liek-est-kiplokus-cena-skrien-debesis-495059">Coronavirus Asia leads eat garlic; price runs in the sky</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/ja-viss-reize-kapj-tad-viss-reize-var-ari-gazties-495050">If everything at the same time stepping, then all at the same time can also tumble</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/februaris-var-but-iezimejis-eiforiju-495040">February may be marked euphoria</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/skonto-plan-apgrozijums-parsniedzis-50-miljonus-eiro-495217">Skonto Plan turnover exceeded 50 million euros</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/parakstits-ligums-par-valmieras-stikla-skiedras-asv-meitasuznemuma-aktivu-pardosanu-495216">Signed a contract for the Valmiera Glass Fiber US subsidiary sale of assets</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/kurs-sobrid-velas-korona-alu-495197">Who now wants coronavirus beer?</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/thyssenkrupp-par-172-miljardiem-eiro-pardevis-liftu-razosanas-biznesu-495168">ThyssenKrupp 17.2 billion sold the elevator manufacturing business</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/foto-vins-draugiem-latviesiem-no-gruzijas-494940">PHOTO: Wine Latvian friends from Georgia</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/purenn-pariet-uz-100-parstradatu-iepakojumu-495167">Purenn move to 100% recycled packaging</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/pec-nedelas-varetu-sakties-berzu-sulu-sezona-495161">After a week could start birch juice season</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/foto-latvijas-razotaji-pec-gulfood-cer-uz-jauniem-pasutijumiem-495067">PHOTO: Latvian producers at Gulfood hopes for new orders</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/polija-razotus-galas-produktus-uzdod-par-latvija-razotiem-495126">Poland produced meat products asks for Latvian produced</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/konkursa-mezpils-prove-2020-izveleti-labakie-majbruvetaji-495125">The competition Meþpils Standard 2020 selected best mâjbrûvçtâji</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/foto-gruzijas-vizitkarte-borjomi-494942">PHOTO: Georgia business card - Borjomi</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/hesburger-klus-vegetaraks-495094">Hesburger will veìetârâks</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/attistiba-iegulda-turpat-ceturtdalu-miljona-495077">Investing in the development of nearly quarter of a million</a>
      </div>
      
      <div class="headline-container">
        <a href="https://www.db.lv/zinas/valpro-plano-paplasinat-produktu-klastu-un-apgut-jaunus-tirgus-495066">Valpro plans to expand the product range and enter new markets</a>
      </div>
      
    </div>
  </body>
  <footer>
    <div class="footer">Can this email get better? <a href="https://github.com/yomajo/Investor-Newsletter/issues">Tell me.</a></div>
  </footer>
</html>